body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #6e6e6e;
}
h1 {
  color: #212121;
}
h2 {
  color: #2c2c2c;

}
pre {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  overflow-x: auto;
}
